#item-details-dialog[open]{
    margin: auto;
    padding: 24px;
    height: 50%;
    width: 50%;
    min-width: 300px;
    background-color: var(--dark-color);
    border-radius: 24px;

    display: grid;
    grid-template-rows: 24px 1fr;
}

#item-details-dialog .item-actions{
    display: flex;
    justify-content: space-between;

}

#item-details-dialog .item-info {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 75px 1fr;
    column-gap: 12px;
    justify-items: end;
    align-items: center;
    margin: 24px;
}

#item-details-dialog div{
    text-align: end;
}

#item-details-dialog img{
    height: 85%;
}

#item-details-dialog img.hover{
    height: 100%;
}