.project-view{
    display: grid;
    grid-template-rows: 60px 60px;
    grid-auto-rows: 40px;
    row-gap: 12px;
}

.project-view-name{
    font-family: 'header-text';
    font-size: 36px;
    border-bottom: 1px solid var(--dark-color);
}

.project-view-header{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 60px 110px;
    column-gap: 12px;
    align-items: end;
    justify-items: start;
    padding: 6px 12px;
    font-weight: bold;
    font-family: 'regular-text';
}

.project-view-header button{
    height: 100%;
    padding: 6px;
    font-family: 'regular-text';
}

.to-do-item{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 60px repeat(3, 25px);
    column-gap: 12px;
    align-items: center;
    justify-items: start;
    padding: 6px 12px;
    background-color: var(--light-color);
    border-radius: 6px;
    border: 1px solid var(--dark-color);
}

.to-do-item div{
    font-size: 16px;
    height: 18px;
}

.to-do-item img{
    height:75%;
    margin: auto;
}

.to-do-title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

button {
    background-color: var(--dark-color);
    border-radius: 6px;
    border: none;
    height: 100%;
    width: 100%;
}
button.hover{
    border: 1px solid #00a4d6;
}

.checked-item{
    text-decoration: line-through;
}