@font-face {
    font-family: 'header-text';
    src: url('./fonts/Kanit-Regular.ttf') format(truetype);
    font-weight: bold;
    font-style: none;
}

@font-face {
    font-family: 'regular-text';
    src: url('./fonts/Mohave-Regular.ttf') format(truetype);
    font-weight: 400;
    font-style: none;
}

:root{
    --lightest-color: #fffbeb;
    --light-color: #fef3c7;
    --dark-color: #fcd34d;
    font-size: 16px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--lightest-color);
}

.wrapper {
    display: grid;
    grid-template-rows: 100px minmax(250px, 1fr) 30px;
    grid-template-columns: clamp(215px, 20%, 250px) minmax(350px, 1fr);
    min-height: 100vh;
    background-color: var(--lightest-color);
}

.header {
    grid-column: 1/3;
    grid-row: 1;
    font-family: 'header-text', sans-serif;

    background-color: var(--dark-color);
    border-bottom-right-radius: 24px;
}

.sidebar-container{
    grid-column: 1;
    grid-row: 2;
    font-family: 'regular-text', sans-serif;

    padding: 24px;
    background-color: var(--light-color);
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    
}

.project-view{
    grid-column: 2;
    grid-row: 2;
    font-family: 'regular-text', sans-serif;

    padding: 48px;
    background-color: var(--lightest-color);
}

.footer{
    grid-column: 1/3;
    grid-row: 3;
    font-family: 'regular-text', sans-serif;

    background-color: var(--dark-color);
    border-top-right-radius: 24px;
}

img{
    filter: invert(46%) sepia(67%) saturate(2006%) hue-rotate(161deg) brightness(94%) contrast(101%);
}

.hover {
    color: #00a4d6;
    font-size: 1.1rem;
}

img.hover{
    height: 85%;
}

#project-name-dialog, #item-move-dialog{
    margin: auto;
    padding: 24px;
    font-family: 'regular-text';
    border-radius: 24px;
    background-color: var(--dark-color);
}

#project-name-dialog form, #item-move-dialog form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

#project-name-dialog input, #item-move-dialog select{
    padding: 2px;
    font-family: 'regular-text';
    background-color: var(--lightest-color);
}

#project-name-dialog button{
    background-color: var(--light-color);
    border: 1px solid black;
    width: 50%;
    font-family: 'regular-text';
    height: 30px;
}

#project-confirm-button.hover{
    border: 1px solid #00a4d6;
}

#item-dialog{
    margin: auto;
    padding: 48px;
    height: 50%;
    width: 50%;
    min-width: 300px;
    background-color: var(--dark-color);
    border-radius: 24px;
}

#item-dialog form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

#item-dialog form label{
    flex: 0 0 80px;
}

#item-dialog div{
    flex: 1 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#item-dialog input{
    background-color: var(--lightest-color);
}

#item-dialog input[type='text']{
    font-family: 'regular-text';
    padding: 2px;
    flex: 1;
}

#item-confirm-button{
    flex: 1 0 30px;
    background-color: var(--light-color);
    border: 1px solid black;
    font-family: 'regular-text';
}

#item-confirm-button.hover{
    border: 1px solid #00a4d6;
}